<div class='info-row'>
    <span class='info-row-black'>{{first}}</span>
    {{#if input}}
        <input class='info-row-input' value={{second}} name={{name}} type={{type}} />
    {{else}}
        <span class='info-row-grey'>{{second}}</span>
    {{/if}}
</div>
